@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
}

html{
	font-family: 'Inter', sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

body {
    margin: 0px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    position: relative;
}

nav li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

nav .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    border: 1px solid #ddd;
}

nav .submenu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

nav .submenu li a:hover {
    background-color: #ddd;
}

nav .has-submenu:hover > .submenu {
    display: block;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 1rem;
}

a {
    color: #333;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #660066;
}

section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
}

main {
    width: 57%;
    margin: auto;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.9rem;
    text-align: left;
}

footer {
    text-align: center;
    background-color: #ccc;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
}

address {
    margin-bottom: 10px;
}

blockquote{
    font-style: italic;
    background-color: #f3f3f3;
    padding: 1rem;
}

.nav_detalle{
    position: relative;
    flex: auto;
}

.intro_pagina ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    margin: 0;
    right: 0;
    font-weight: 700;
    font-size: 1.1rem;
    padding-inline-start: 0;
}

.body_portada {
    background-image: url('../img/cadiz.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px;
}

.pasodoble_portada{
    columns: 2;
    column-gap: 2rem;
}

.intro_pagina {
    width: 67%;
    margin: auto;
    padding: 1rem 0 2rem;
    display: flex;
    border-bottom: 1px solid #aaa;
}

.submenu li {
    background-color: #B92;
    width: 100%;
    margin: unset;
}

.img_detalle img {
    width: 100%;
}

.lista_categoria {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.elemento img {
    width: 100%;
    max-height: 210px;
}

.swiper {
    width: 600px;
    height: 400px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.enlaces {
    display: unset;
    list-style: unset;
}

.enlaces li{
    word-wrap: break-word;
}

.footer-cita {
    text-align: unset;
    background-color: unset;
    padding: 1rem 0 0 0;
    display: block;
}

#footer-index {
    background-color: transparent;
}

#footer-index a {
    color: white;
}

#footer-index > * {
    color: white;
}

@media (max-width: 820px) {
    .body_portada {
        background-image: url('../img/cadiz_responsive.jpeg');
        background-size: auto;
    }

    .pasodoble_portada {
        white-space: pre-line;
    }

    section {
        max-width: 65%;
    }

    main {
        width: 80%;
    }

    .intro_pagina {
        width: 80%;
    }

    #footer-index{
        position: absolute;
    }
}

@media (max-width: 390px) {
    section {
        max-width: 65%;
        padding: 20px;
    }

    .pasodoble_portada {
        columns: 1;
        white-space: pre-line;
    }

    .intro_pagina * {
        text-align: center;
        display: block;
    }

    h1 {
        font-size: 1.5em;
    }

    nav ul{
        padding-inline-start: unset;
    }

    blockquote {
        margin-inline-start: unset;
        margin-inline-end: unset;
        font-size: 0.9rem;
    }

    footer ul {
        display: block;
    }

    footer ul li {
        margin-bottom: 5px;
    }

    h2 {
        font-size: 1.3rem;
    }

    nav li {
        margin: 0;
    }

    .lista_categoria {
        grid-template-columns: repeat(1, 1fr);
    }

    #footer-index {
        position: relative;
    }
}